.nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;

  list-style: none;
  padding: 0;
  justify-content: center;

  li {
    margin: 1rem;
    a {
      text-decoration: none;
      color: #333;
      &.active {
        border-bottom: 1px solid #333;
      }
    }
  }
}
